{% extends 'base.html' %}
{% block content %}
<h3>All Results Overview</h3>
{% for question in questions %}
    <h4>({{forloop.counter}}.) {{ question.question_text }}</h4>
    <ul>
        <table class="table table-striped table-sm ">
            <thead>
                <tr>
                    <th>S/N</th>
                    <th>Choice Text</th>
                    <th>Number of Votes</th>
                </tr>
            </thead>
            <tbody>
            {% for choice in question.choice_set.all %}
            
                <tr>
                    <td scope="row">{{forloop.counter}}</td>
                    <td>{{ choice.choice_text }}</td>
                    <td>{{ choice.votes }} vote{{ choice.votes|pluralize }}</td>
                </tr>
                
            {% endfor %}
            </tbody>
    </table>
    </ul>
{% endfor %}
    


{% endblock %}  